[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "scINSIGHT"]
	path = scINSIGHT
	url = https://github.com/vivianstats/scinsight
